<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TM1dotNETAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TM1dotNETAPI.Properties.Settings>
            <setting name="TM1APIPath" serializeAs="String">
                <value>C:\Program Files\ibm\cognos\tm1_64\bin</value>
            </setting>
        </TM1dotNETAPI.Properties.Settings>
    </applicationSettings>
</configuration>